{% extends "base.html" %}

{% block start%}
<div class="container mt-5">
    
<form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <h3>Add Recipe</h3>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
      <input type="text" class="form-control" name="recipename">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
      <textarea class="form-control" name="recipedescription"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-check-label" for="exampleCheck1">Recipe Image</label>
      <input type="file" class="form-control" name="recipeimage">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock%}