{% extends "base.html" %}
{% block start %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">SI</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col">Image</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for recipe in recipereport %}
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.recipename}}</td>
        <td>{{recipe.recipedescription}}</td>
        <td><img src="/media/{{recipe.recipeimg}}" style="width: 100px;"> </td>
        <td><a href="/deletee/{{recipe.id}}/" class="btn btn-danger">Delete</td>
          <td><a href="/updatee/{{recipe.id}}/" class="btn btn-primary">Update Page       </td>
          </tr>
      {% endfor %}
        
    </tbody>
    
  </table>
{% endblock%}